/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2017, 11:19:01 AM
    Author     : jazz
*/

th.zone-room-list {
    padding: 2px;
    border-spacing: 0px;
}

td.zone-room-list {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}

td.zone-room-list-status {
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-style: italic;
}

.zone-room-list-head {
    background: #E2E2E2;
}

table.zone-room-list {
    border-radius:8px;
    border:1px solid #CCCCCC;
    background: #efefef;
}

table.player-control {
    border-radius:8px;
    border:1px solid #CCCCCC;
    background: #efefef;
}