<?xml version="1.0" encoding="utf-8"?>
<Application>  
  <Raumkernel>

    <!-- Log settings. You might change some settings here if you want to change the output log level or add/remove a log adapter
         To get the available options for 'LogLevel' and 'LogAdapter' please take a look at the documentation -->
    <Log>
      <Level>DEBUG</Level>
      <LevelUpnp>ERROR</LevelUpnp>
      <!-- <LevelUpnp>ALL,ADAPTERCHANGE,BONJOUR,DEVICE,DVDEVICE,DVEVENT,DVWEBSOCKET,DVINVOCATION,DVSSDPNOTIFIER,ERROR,EVENT,HTTP,LPEC,NETWORK,NONE,SERVICE,SSDPMULTICAST,;SSDPUNICAST,TRACE,THREAD,TIMER,VERBOSE,XMLFETCH</LevelUpnp> -->
    </Log>
    
    <!-- the kernel uses the first available networkadapter found in the system. This may not be the one you like to use! -->
    <!-- so you can type in the network adapter name the application should use! -->
    <NetworkAdapterName priority="1" waitForAppearance="250">bond0</NetworkAdapterName>
    <NetworkAdapterName priority="2" waitForAppearance="250">eth0</NetworkAdapterName>
    <NetworkAdapterName priority="3" waitForAppearance="250">wlan0</NetworkAdapterName>
    <NetworkAdapterName priority="3" waitForAppearance="0">Killer Wireless-N 1202 Network Adapter</NetworkAdapterName>
    
    <!-- Enable/disable discovery of non raumfeld renderers -->
    <AddNonRaumfeldDevices>0</AddNonRaumfeldDevices>

      <!-- the time step in ms on which the kernel does refresh the device list to get abruplty removed UPNP devices (without announcing its removal) -->
    <UPNPRefreshTimeActive>1</UPNPRefreshTimeActive>
    <UPNPRefreshTime>30000</UPNPRefreshTime>

    <!-- Some internal sleeping values -->
    <HTTPRequestPumpSleep>20</HTTPRequestPumpSleep>
    <HTTPRequestHandlerSleep>20</HTTPRequestHandlerSleep>

    <!-- Some basic kernel setting for recognizing the RaumfeldUPNP devices and for requesting the host when using RAUMFELD system -->
    <Raumfeld>
      <HostConfigDeviceName>Raumfeld ConfigDevice</HostConfigDeviceName>
      <MediaServerName>Raumfeld MediaServer</MediaServerName>
      <HostRequestPort>47365</HostRequestPort>
      <MediaRendererIdentification>MediaRenderer</MediaRendererIdentification>
      <MediaServerIdentification>MediaServer</MediaServerIdentification>
      <RaumfeldDescriptionVirtualMediaPlayer>Virtual Media Player</RaumfeldDescriptionVirtualMediaPlayer>
      <RaumfeldManufacturer>Raumfeld GmbH</RaumfeldManufacturer>
    </Raumfeld>
    
  </Raumkernel>
  
  <Raumserver>
    <!-- port where the server listens to requests -->
    <Port>RAUMSERVER_HTTP</Port>
    <Docroot>/opt/raumserver/docroot</Docroot>
  </Raumserver>
  
</Application>
