# databse host address
DB_HOST=

# the database type mysql or pgsql
DB_TYPE=

# the datbase port (mysql 3306) (pqsql 5432)
DB_PORT=

# the databse name
DB_NAME=

# the databse name
DB_USER=

# mysql root password. Irrelevant if you are using postgres
ROOT_DB_PASSWORD=

# database password for the database user
DB_PASSWORD=

# the email address receiving the DMARC reports
IMAP_USER=

# the password for the email address receiving the DMARC reports
IMAP_PASSWORD=

# the server the email address is hosted on
IMAP_SERVER=

# optional: default is 993 ( or 143)
IMAP_PORT=

# optional: default is "Inbox"
IMAP_READ_FOLDER

# optional: default is "processed"
IMAP_MOVE_FOLDER=

# optional: default is "error"
IMAP_MOVE_FOLDER_ERR=