# database host address, leave empty for default host "db"
DB_HOST=

# the database type mysql or pgsql, leave empty for default (depending on your docker-compose.yml)
DB_TYPE=

# the database port (mysql 3306) (pqsql 5432), leave empty for default (depending on your docker-compose.yml)
DB_PORT=

# the database name, leave empty for default "dmarc_report"
DB_NAME=

# the database name, leave empty for default "dmarc_report"
DB_USER=

# mysql root password. Irrelevant if you are using postgres
ROOT_DB_PASSWORD=

# database password for the database user
DB_PASSWORD=

# the email address receiving the DMARC reports
IMAP_USER=

# the password for the email address receiving the DMARC reports
IMAP_PASSWORD=

# the server the email address is hosted on
IMAP_SERVER=

# optional: default is 993 (or 143)
IMAP_PORT=

# optional: default is "Inbox"
IMAP_READ_FOLDER

# optional: default is "processed"
IMAP_MOVE_FOLDER=

# optional: default is "error"
IMAP_MOVE_FOLDER_ERR=

# Enable SSL and/or (START-)TLS. Set both to 0 to disable encryption (not recommended)
PARSER_IMAP_SSL=0
PARSER_IMAP_TLS=1

# Ignore ERROR: message_string() issue experienced with Exchange Online. Set to 1 to enable
PARSER_IMAP_IGNORE_ERROR=0

# Increase the maximum size of the XML file. (default is 50000 bytes)
# When the size exceeds the maximum, one could experience an error Uncaught ValueError: DOMDocument::loadXML():
# Argument #1 ($source) must not be empty.
PARSER_XML_MAXSIZE=50000