# mysql root password. Irrelevant if you are using postgres
ROOT_DB_PASSWORD=

# database password for the dmarc user
DMARC_DB_PASSWORD=

# the email address receiving the DMARC reports
DMARC_EMAIL=

# the password for the email address receiving the DMARC reports
DMARC_PASSWORD=

# the server the email address is hosted on
IMAP_SERVER=

# optional: default is 993
IMAP_PORT=

# optional: default is "processed"
IMAP_MOVE_FOLDER=

# optional: default is "error"
IMAP_MOVE_FOLDER_ERR=